# OSX
#
.DS_Store

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
!debug.keystore

# Test
coverage/

# Reports
/report

# Dist
/src/dist

# cache
.eslintcache

# another things
dist/
build/
temp/
.env
